<div>
    <h2>
        <span jhiTranslate="aManagerApp.set.home.title">Sets</span>
        <button class="btn btn-primary float-right jh-create-entity create-set" [routerLink]="['/', { outlets: { popup: ['set-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="aManagerApp.set.home.createLabel">
            Create new Set
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="sets">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="title"><span jhiTranslate="aManagerApp.set.title">Title</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="content"><span jhiTranslate="aManagerApp.set.content">Content</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="cardset.name"><span jhiTranslate="aManagerApp.set.cardset">Cardset</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let set of sets ;trackBy: trackId">
                <td><a [routerLink]="['../set', set.id ]">{{set.id}}</a></td>
                <td>{{set.title}}</td>
                <td>{{set.content}}</td>
                <td>
                    <div *ngIf="set.cardset">
                        <a [routerLink]="['../card-set', set.cardset?.id ]" >{{set.cardset?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../set', set.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'set/'+ set.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'set/'+ set.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
